/*----HEADER------*/
header{
    nav{
        background-color: #ff66c4;
        a{
            font-family: 'Arvo', serif;
            font-size: 20px;
            font-weight: 500;
        }
    }
}