
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Arvo', serif;
}

.queEs{
    display: flex;
    text-align: center;
    align-items: center;
    img{
        width: 50%;
    }
    .queEsLoQuiero{
        h2{
            font-size: 60px;
            font-weight: 500;
            margin: 20px; 
        }
        p{
            font-size: 30px;
            font-weight: 500;
            margin: 60px;
        }
        a{
            text-decoration: none;
            font-size: 30px;
            font-weight: 500;
            padding: 5px 10px;
            transition: 1s;
        }
    }
}

.regalo{
    width: 100%;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 60px;
        font-weight: 500;
        margin-top: 50px;
        text-align: center;
    }
    .regaloRegalo{
        display: flex;
        img{
            width: 50%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .regaloFormulario{
            p{
                margin: 20px;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            }
            form{
                .formularioFormulario{
                    display: flex;
                    flex-direction: column;
                    margin: 20px;
                    div{
                        label{
                            text-align: right;
                            font-size: 30px;
                            font-weight: 500;
                            margin: 20px;
                        }
                        input{
                            text-align: center;
                            font-size: 30px;
                            font-weight: 500;
                            margin: 20px;
                            transition: 1s;
                        }
                    }
                    input{
                        text-align: center;
                        font-size: 30px;
                        font-weight: 500;
                        margin: 20px;
                        transition: 1s;
                    }
                }
            }
        }
    }
}